div.page
	div.row
		a.button.large.blue(ng-click='vm.changeUrl("alerts", {title: "Alerts"})') Alerts
	div.row
		a.button.large.blue(ng-click='vm.changeUrl("lights", {title: "Lights"})') Lights
	div.row
		a.button.large.blue(ng-click='vm.changeUrl("music", {title: "Music"})') Music
	div.row
		a.button.large.blue(ng-click='vm.changeUrl("sensors", {title: "Sensors"})') Sensors
	div.row
		a.button.large.blue(ng-click='vm.changeUrl("weather", {title: "Weather"})') Weather
