div.page.lights
	div.row
		a.button.power.orange.large Power
	div.row
		a.button.white White
	div.row
		a.button.red Red #1
		a.button.green Green #1
		a.button.blue Blue #1
	div.row
		a.button.red Red #2
		a.button.green Green #2
		a.button.blue Blue #2
	div.row
		a.button.red Red #3
		a.button.green Green #3
		a.button.blue Blue #3
	div.#asd#asds
	div.#asd.asd#asd.#
